h1{
    text-align: center;
}
p{
    text-align: center
}
.container{
    text-align: center;
    align-items: center;
}
h2 {
    text-align: center
}
li{
    text-align: center
    
}
footer{
    
    text-align: center
}
ul{
    text-align: center
}
.fim{
    align-items: center;
    text-align: center
}
.musica {
    align-items: center;
    text-align: center
}

